/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#zone-footer-wrapper{
	padding:20px 0;
	background:#323e48;
	color:#fff;
}
#zone-footer-wrapper *{
	font-style:normal;	
}
#zone-footer-wrapper a{
	color:#fff;
}
#zone-footer-wrapper a:hover{
}

#zone-footer {
	font-size:12px;
}
#zone-footer h2{
	font-size:16px;	
	font-weight:bold;
	padding-bottom:0;
	margin-bottom:0;
}
#zone-footer .social-icons{
	margin:0 0 10px 0;
	padding:0;
} 
#zone-footer .social-icons .icon{
	width:35px;
	height:30px;
	background:no-repeat top left url(megamenu/HTML/img/icons/social-icons.png);
	float:left;
	margin:0 4px 4px 0;
	border-radius:.5em;
}
#zone-footer .closing{
	padding-top:20px;
}
#zone-footer h2{
	padding-top:0;	
}
#zone-footer .social-icons .icon.twitter{
	background-position:-3px -1060px;
}
#zone-footer .social-icons .icon.facebook{
	background-position:-3px -254px;	
}#zone-footer .social-icons .icon.google-plus{
	background-position:-3px -442px;	
}
#zone-footer .social-icons .icon.youtube{
	background-position:-3px -1186px;	
}
#zone-footer .social-icons .icon.flickr{
	background-position:-3px -316px;	
}
#zone-footer .social-icons .icon.pintrest{
	background-position:-3px -1246px;	
}
#zone-footer .social-icons .icon.linkedin{
	background-position:-3px -565px;	
}

@media only screen and (max-width:740px) {
#zone-footer ul{
	margin-bottom:0;	
}
}
