/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#zone-header-wrapper{
	background:#323e48;
	background:#f5f5f5;
	position:fixed;
	height:90px;
	width:100%;
	top:0;
	z-index:99;
	border-bottom:4px solid #f5f5f5;
}

#mhs-logo{

	position:absolute;
	left:0;
	top:0;
	padding:10px;
	width:200px;
	height:auto;
	
}
#zone-header-wrapper.fullState #mhs-logo{
	padding:10px;	
	}
#zone-header-wrapper.minState #mhs-logo{
	padding:2px;	
	}
#overlay{
	zindex:1000000;	
}
.toolbar #zone-header-wrapper{
	top:60px;	
}
#zone-branding-wrapper{
	margin-top:100px;	
}
#region-branding{
	z-index:0;	/* this prevents the slideshow from overlapping w/ the menu */
}

.fullState #social-icons {
	position:absolute;
	top:5px;
	right:0;
	background:#36424a;
	border-radius:5px;
	border:1px solid #ccc;
	position:absolute;
	top:10px;
	right:0;
}
.minState #social-icons {
	height:auto;
	width:29px;
	position:absolute;
	top:50px;
	right:-35px;
	background:#36424a;

	border-radius:5px;
	border:1px solid #ccc;
	display:none;
}

#social-icons img{
	width:25px;
	height:auto;	
	padding:2px;
}