/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
#zone-header-wrapper{
	padding-bottom:0px;
    background-color: rgb(36, 42, 46);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(80px, rgb(38, 46, 51)),
		color-stop(1, rgb(54, 66, 74)),
		color-stop(1, rgb(54, 66, 74))
	);
	background-image: -o-linear-gradient(bottom, rgb(38, 46, 51) 80px, rgb(54, 66, 74) 100%, rgb(54, 66, 74) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(38, 46, 51) 80px, rgb(54, 66, 74) 100%, rgb(54, 66, 74) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(38, 46, 51) 80px, rgb(54, 66, 74) 100%, rgb(54, 66, 74) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(38, 46, 51) 80px, rgb(54, 66, 74) 100%, rgb(54, 66, 74) 100%);
	background-image: linear-gradient(to bottom, rgb(38, 46, 51) 80px, rgb(54, 66, 74) 100%, rgb(54, 66, 74) 100%);

	}
#zone-header, #zone-header .grid-12{
	margin:0;
	padding:0;		
	width:100%;
}
#zone-header-wrapper.minState{
	position:fixed;
	width:100%;
	top:0;
	z-index:99;
	
}	
#zone-header-wrapper.midState{
	position:fixed;
	width:100%;
	top:0;
	z-index:99;
	
}	
#zone-header-wrapper .zone{
	background-color:transparent;	
}

#mhs-logo img{

	padding:10px 0 20px 0;
	width:180px;
	height:auto;
	
}


#zone-header-wrapper.minState #mhs-logo{
	display:none;	
}
#zone-header-wrapper .mega-menu-inner{
	position:relative;
}
#mhs-flame {
	overflow:hidden;
	position:absolute;
	top:0;
	left:0px;
}
#mhs-flame img{
	margin-left:-50px;
	height:31px;
	width:auto;
	padding:6px 8px 10px 8px;
}
#mhs-flame img:hover{
	background:#50606B;
}
#search-secondaryLinks{
	position:absolute;
	top:20px;
	right:0px;	
	width:800px;
}
#search-secondaryLinks #secondaryLinks {
	float:right;
	margin-right:20px;
}
#search-secondaryLinks #secondaryLinks ul {
	padding:0;
	margin:0px 0 0 0;	
}
#search-secondaryLinks #secondaryLinks ul li{
	float:right;
	list-style-type:none;
	padding: 0;
	margin:0;
	color:#8797a4;

}
#search-secondaryLinks #secondaryLinks a{
	color:#aebecb;
	padding:0 7px 0 10px;
	text-decoration:none;
}
#search-secondaryLinks #secondaryLinks a:hover{
text-decoration:underline;
	
}
#global-search{
	float:right;
}
form.global-search-form{
	height:40px;
	position:relative;
	width:300px;
	max-width:100%;
	border:1px solid #55616a;
}
form.global-search-form .input-box{
	border:0;
	height:16px;
	padding:0 0 0 2%;
	position: absolute;
	height: 100%;
	width: 100%;
	font-size:16px;
	width:100%;
	background:white;	
}
form.global-search-form .searchKeyword{
	position:absolute;
	top:0px;
	right:0px;
	height:16px;
	padding:12px 15px;
	background:rgb(54, 66, 74);
	z-index:1;
	
}

/*

.global-search-form{
	position:relative;
	margin-right:20px;
}
.global-search-form .input-box{
	width:260px;
	max-width:100%;
	font-size:16px;	
	border:1px solid #50606B;
	padding-left:15px;
	height:39px;
	border-radius:4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	}
.global-search-form .input-box:focus	{
	box-shadow: 0px 0px 5px white;
}
.global-search-form .searchKeyword{
	font-size:14px;
	border-radius:0 4px 4px 0;		
	border:1px solid #50606B;
	background:rgb(54, 66, 74);
	color:#fff;
	padding:11px 15px;
	margin:0 0 0 -21px;
	text-align:center;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

	top:0px;
	right:0px;
	position:absolute;	

}	
*//*.site-search{ // css lives in menu.css \\ } */

#region-branding{
	z-index:0;	
}


/*.fullState #social-icons {
	position:absolute;
	top:5px;
	right:0;
	position:absolute;
	top:10px;
	right:0;
}
.minState #social-icons {
	height:auto;
	width:29px;
	position:absolute;
	top:50px;
	right:-35px;
	display:none;
}*/


#social-icons{
	position:fixed;
	right:0px;
	top:135px;	
	width:30px;
	padding:5px;
	background:#36424a;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	border:1px solid #d9d4cd;
	border-right:0;
	z-index:10;
	border-radius:6px 0 0 6px;
}

.minState #global-search {
	display:none;	
}
#social-icons{
}
#social-icons img{
	width:30px;
	height:auto;	
	margin:0 0 4px 0;
}


.page-node-201 #global-search, .page-node-202 #global-search{
	position:relative;
	top:3px;
	right:0;	
	float:left;
}

.page-node-201 #global-search .input-box, .page-node-202 #global-search .input-box{
	width:300px;
	padding:5px;
	font-size:16px;	
	border:1px solid #50606B;
	padding:15px;
	height:36px;
	border-radius:4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	margin-right:-30px;
	}
.page-node-201 #global-search .input-box:focus, .page-node-202 #global-search .input-box:focus	{
	box-shadow: 0px 0px 5px white;
}
.page-node-201 #global-search .searchKeyword, .page-node-202 #global-search .searchKeyword{
	font-size:14px;
	border-radius:0 4px 4px 0;		
	border:1px solid #50606B;
	background:rgb(54, 66, 74);
	color:#fff;
	padding:8px 15px 7px 15px;
	margin:0 0 0 -56px;
	width:50px;
	text-align:center;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}	
.page-node-201 .minState #global-search, .page-node-202 .minState #global-search {
	display:block;	
}


.page-node-201 .fullState #social-icons, .page-node-202 .fullState #social-icons {
	position:absolute;
	top:5px;
	right:0;
	position:absolute;
	top:10px;
	right:0;
	
	background-color:transparent;
	box-shadow:none;
	border:0px;
	border-right:0;
	z-index:10;
	border-radius:0;
	width:auto;
	
}
.page-node-201 .minState #social-icons, .page-node-202 .minState #social-icons {
	height:auto;
	width:29px;
	position:absolute;
	top:50px;
	right:-35px;
	display:none;
}
.page-node-201 .minState #global-search, .page-node-202 .minState #global-search {
}
.page-node-201 #social-icons, .page-node-202 #social-icons{
}
.page-node-201 #social-icons img, .page-node-202 #social-icons img{
	width:25px;
	height:auto;	
	margin:0 2px 2px 0;
}
.page-node-201 .mega-menu li.site-search, .page-node-202 .mega-menu li.site-search{
	}
	