/* This file will hold styles that are loaded using the same media query as the wide grid. */

#mhs-logo{
	padding-left:0px;	
}
#visit-map{
padding-bottom: 50%;
}


.grid-33 img{
	max-width:100%;
	height:auto;
}
	.grid-13 .grid-33{
			width:221px;	
	}
			.grid-13 .grid-33 img{
				width:195px;	
			}
	.section-homepage .grid-13 .grid-33{
		width:240px;	
	}

.grid-33.views-row-first{
margin-left:0;
}
.grid-33.views-row-last{
margin-right:0;
}
.now-on-view{
	position:relative;
	margin-top:-225px;	
}
.now-on-view img{
	border:0;
	padding:0;
	
	
}
/* <use to overlay text boxes with solid backgrounds> */
.text-overlay{
	position:relative;
}

.text-overlay h3{
	position:absolute;
	bottom:-10px;
	left:10px;
	color:#fff;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 200; font-style: normal; font-size:1.25em;	
	display:inline;}
.text-overlay h3 a{
	text-decoration:none;
	color:#fff;
	display:inline;
}
.text-overlay h3 a:hover{
	text-decoration:underline;
}
/* </use to overlay text boxes with solid backgrounds> */
.well{
	width:312px;
}
.well img{
	width:312px;	
}

/* <use this class to list out articles on pages> */
.article-hero .views-row-first, .article-hero .views-row-3{
	margin-left:0;
}
.article-hero .views-row-last, .article-hero .views-row-2{
	margin-right:0;
}
.article-hero img, .article-list img{
	max-width:100%;
	height:auto;
	
}
/* right layout */
.article-list .left-layout .title-body  {
	width:40%;
	float:left;	
	padding:0 2% 2% 0;
}
.article-list .left-layout img{
	width:31%;
	float:left;	
	padding:0 2% 2% 0;
}

.article-list .left-layout .type-tags{
	float:left;
	width:25%;	
}

/* top layout */
.article-list .top-layout {
	position:relative;	
}
.article-list .top-layout .type-tags{
	position:absolute;
	top:20px;
	right:20px;
	width:25%;
}
.article-list .top-layout img, .article-list .top-layout .title-body{
	width:72%;
	padding:0 2% 2% 0;
}.article-list .type-tags h3{
	border-bottom:1px solid #ccc;
	font-size:1.0em;
	font-weight:400;
}
.article-list .type-tags h3 span.type{
}
.article-list .type-tags p{
	font-size:.9em;
}
.article-hero .views-row{
	position:relative;	
}
.article-list h2{
	font-weight: 400; font-style: normal;
	font-size:1.7em;
}

.article-list a, .article-hero a{
	text-decoration:none;
}
.article-list a:hover, .article-hero a:hover{
	text-decoration:underline;
}
.article-list .views-row{
	padding:1em 0 2em 0;
	margin-bottom:3em;
	background:#fff;
	padding:1em;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);

}
.article-list .views-row.views-row-last{
	border-bottom:0;
	margin-bottom:2em;
}

.article-list .foot {
	font-size:.9em;	
}
.article-list .foot .sharing-commenting{
	background:#f5f5f5;
	padding:1em;
}
.article-list .foot .inline-block{
	float:left;
	display:inline-block;
	border-right:1px solid #ccc;	
	padding:0 1em;
}
.article-list .foot .inline-block.link{
	padding:0 1em 0 0;
}
.article-list .foot .inline-block.share{
	padding:0 0 0 1em;
	border-right:0;	
}
.article-list .foot .source-info p{
	padding:0;
	margin:0;	
}

/* </use this class to list out articles on pages> */
/* <site listing photos - visit> */
.site-listing-photos img{
	width:200px;
	height:auto;
}
.site-listing-photos .views-row.left-image:nth-child(3n+3) {  
	margin-right:0;
	
}
/* </site listing photos - visit> */


.page-node-221 #section-content{
	padding-top:20px;
}
.region-branding-inner .news {
	display:none;
}


.rotating-item .call-to-action{
	top:75px;
}

.rotating-item .call-to-action h2{
font-size: 3.5em;
}


.news-events-container{
	display:block;
	z-index:400;	
	position:absolute;
	top:0;
	left:0;
	margin:auto;
	width:100%;
	background:	rgba(0,0,0,.65);
	height:80px;
}
.news-events-container .container-12{
}
.news-events-container .news-events{
	color:#fff;
	position:relative;
	font-size:.9em;
	border-radius:;
}
.news-events-container .news-events h2{
	color:#fff;
	padding:20px 0 0 1em;
	margin-right:20px;
	font-size:28px;	
	font-weight: 300; font-style: normal;

}
.news-events-container .news-events a{
	text-decoration:none;	
	color:#fff;
}
.news-events-container .news-events a:hover{
	text-decoration:underline;	
}
.news-events-container .news-events .news-list ul{
	margin:0;
	padding:10px 0 0 0;
}
.news-events-container .news-events .news-list ul li{
	list-style-image:url(img/arrow-yellow.png);
	padding:0 0 .25em 0;
	margin:0;	
	font-size:1.0em;
}

/* start mega menu alterations */
.mega-menu-inner {
	width: 100%;
	margin: auto;
}
.mega-menu > li > a {
	padding: 10px 1.5em;
}
/* end mega menu alterations */



.node-feature{
	padding:15px;	
}
#article-wrapper .grid-test div{	
	background:orange;	
}
 #article-wrapper .grid-13  .grid-1{
	width:37.69px;	
}
 #article-wrapper .grid-13  .grid-2{
	width:95.35px;	
}
 #article-wrapper .grid-13  .grid-3{
	width:153px;	
}
 #article-wrapper .grid-13  .grid-4{
	width:210.75px;	
}
 #article-wrapper .grid-13  .grid-5{
	width:265px;
}
 #article-wrapper .grid-13  .grid-6{
	width:326px;	
}
 #article-wrapper .grid-13  .grid-7{
	width:384px;	
}
 #article-wrapper .grid-13  .grid-8{
	width:445px;
}
 #article-wrapper .grid-13  .grid-9{
	width:499px;
}
 #article-wrapper .grid-13  .grid-10{
	width:557px;
}
 #article-wrapper .grid-13  .grid-11{
	width:614.5px;
}
 #article-wrapper .grid-13  .grid-12{
	width:672px;
}


.grid-13 .grid-50{
	width:372px;
	float:left;	
}
.grid-13 .node-feature .grid-50{
	width:357px;
	float:left;	
}

.grid-50 img{
	max-width:100%;
	height:auto;	
}
#article-wrapper .resource-grid img{
	max-width:100px;	
}
    .grid-13 .resource-grid .grid-50{
		width:340px;
    }
	.grid-16 .grid-33{
	width:300px;	
	}
	.grid-16 .resource-grid .grid-50{
		width:430px;
    }
	.border-right{
		border-right:1px solid #ccc;
		margin-right:-1px;	
	}
	.border-left{
		border-left:1px solid #ccc;
		margin-left: -1px!important;
		padding-left: 9px;
	}
.section-menu-column{
display:block;
}

.sub-menu-column h2{
	color:#333;
	text-align:left;	
	font-family: font-weight: 200; font-style: normal;
	font-size:1.4em;
	border-bottom:1px solid #ccc;
}

.sub-menu-column ul{
		padding:20px 0px;
		text-align:left;
		margin:0;
}
.sub-menu-column ul li{
	padding:.5em 0;	
	list-style-image:none;
	list-style-type:none;
	margin:0;
	font-family:font-weight: 400; font-style: normal;

	border-bottom:1px dotted #ccc;
}
.sub-menu-column ul li.views-row-last{	
	border-bottom:0;	
}
.sub-menu-column ul li a{
	text-decoration:none;	
}
.sub-menu-column ul li a:hover{
background:#f3f3f3;
}


.double li	{ 
	width: 47.5%;
	margin-left: 2.5%;
}
.triple li	{ width:30.5%; 	margin-left: 2.5%;}
.quad li	{ width:30.5%; 	margin-left: 2.5%;}
.six li		{ width:22.25%; 	margin-left: 2.5%;}


