/* This file will hold styles that are loaded using the same media query as the wide grid. */
#article-wrapper .grid-13 .grid-1{
	width:52.7px;	
}
 #article-wrapper .grid-13  .grid-2{
	width:125.35px;	
}
 #article-wrapper .grid-13  .grid-3{
	width:198px;	
}
 #article-wrapper .grid-13  .grid-4{
	width:270.75px;	
}
 #article-wrapper .grid-13  .grid-5{
	width:340px;
}
 #article-wrapper .grid-13  .grid-6{
	width:416px;	
}
 #article-wrapper .grid-13  .grid-7{
	width:489px;	
}
 #article-wrapper .grid-13  .grid-8{
	width:565px;
}
 #article-wrapper .grid-13  .grid-9{
	width:634px;
}
 #article-wrapper .grid-13  .grid-10{
	width:707px;
}
 #article-wrapper .grid-13  .grid-11{
	width:779px;
}
 #article-wrapper .grid-13  .grid-12{
	width:852px;
}

.grid-13 .grid-50{
	width:467px;
}
.grid-13 .node-feature .grid-50{
	width:453px;
}
#article-wrapper .resource-grid img{
	max-width:100%;	
}

.grid-13 .resource-grid .grid-50{
		width:437px;
    }
	
.grid-16 .resources-grid .grid-50{
	width:550px;	
}


.grid-33{
	width:370px;
	float:left;
}
	.grid-13 .grid-33{
		width:295px;	
	}
			.grid-13 .grid-33 img{
				width:260px;	
			}
	.section-homepage .grid-13 .grid-33{
		width:305px;	
	}
	.grid-16 .grid-33{
	width:380px;	
	}
.column-menu, .section-menu-column .menu-block-wrapper{
width:205px;}

#zone-branding {
max-width: 1400px;
}
.rotating-item .call-to-action{
	top:125px;
}

/*customized copy formatts */
.copy-intro{
	font-size:1.2em;
	line-height:1.5em;	
}
.copy-intro.about{
	line-height:1.35em;	
	padding-top:10px;	
}
.now-on-view{
	position:relative;
	margin-top:-250px;	
}

.well{
	width:409px;
}
.well img{
	width:auto;	
}
/* <News Homepage Styles> */
.news-events-container .news-events .news-list ul{
	padding:15px 0 0 0;
}
.news-events-container .news-events .news-list ul li{
	font-size:1.2em;
}
/* </News Homepage Styles> */
/* <site listing photos - visit> */
.site-listing-photos img{
	width:205px;
	height:auto;
}
/* </site listing photos - visit> */

/* <left column menu styles */
.column-menu, .section-menu-column .menu-block-wrapper{
}
/* <left column menu styles */
.double li	{ width:47.5%; margin-left:2.5%;}
.triple li	{ width:30.0%; margin-left:2.5%;}
.quad li	{ width:22.5%; margin-left:2.5%;}
.six li		{ width:14.0%; margin-left:2.5%;}
