body {
  font: 14px/1.5 helvetica, sans-serif; font-weight: 400; font-style: normal;
}
p, dl, hr, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}
.text-align-left {
	text-align:left;	
}
.text-align-right {
	text-align:right;	
}
.text-align-center {
	text-align:center;	
}

.w100{
	font-weight:100;	
}
.w200{
	font-weight:200;	
}
.w300{
	font-weight:300;	
}
.w400{
	font-weight:400;	
}
.w500{
	font-weight:500;	
}
.w600{
	font-weight:600;	
}
.no-border{
	border:0!important;	
}

a:link, a:visited {
  color:  #007fad;
  text-decoration: underline;
}

a:hover {
  color:  #007fad;
  text-decoration: none;
}

a:active {
  color: #Re;
  text-decoration: none;
  color: #000;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6, strong, .views-label{
 font-family:helvetica, sans-serif;
 font-weight: 700; font-style: normal;
}

.headli{ font-family:helvetica, sans-serif;}

h1 {
  font-size: 34px;
  font-weight:400;
  color:#444;
}
.section-main h1 {
	padding:40px 0 0 0;
}
h2 {
	font-weight: 400; 
	font-style: normal;
	font-size:1.7em;
	line-height:1.2em;
	padding: 10px 0 5px 0;
	margin: 0 0 5px 0;
	border-bottom:1px solid #ccc;
	}
h2.anchor {

	padding: 90px 0 5px 0;
	margin: -80px 0 5px 0;
	}	
#region-branding h2{
	border-bottom:0;	
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 18px;
  margin: 0;	
}

h2.node-title {
  font-size: 28px;
}

h3{
	font-size: 20px;
text-transform: uppercase;
font-weight: 400;
}
h3.lowercase, .homepage .node-feature h3 {
	text-transform:none;	
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}
.views-label{
	font-size:1.2em;
}
.views-label.left{
	padding-right:10px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul,
ol ol {
  padding-top: 0.5em;
}
ul.roman {
	list-style-type: upper-roman;
}

article ul, article ol{
	margin:0 0 1em 1.6em;
}
article ul ul, article ol ol{
	margin-bottom:0;
}

article ul li , article ol li{
	padding:0 0 .5em 0;
}
article ol li, .node ul li{
	padding-bottom:.5em;
}
article p + ul{
	margin-top:-10px;	
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}



dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
.small{
	font-size:.75em!important;	
}